html    {
    font-size: 20px;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
a {
	text-decoration: none;
}
a:visited {
	color: #1c2056;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
/* ======================header==================== */
header {
	background-image: url(../img/Muncak\ Landing\ circle\ pink.png), url(../img/Muncak\ circle\ blue.png),
	url(../img/Muncak\ Landing\ Page_ILLUSTRATION.png), url(../img/Muncak\ Landing\ Page_Shape\ 24.png),url(../img/Muncak\ Landing\ circle\ pinkR.png);
	background-repeat: no-repeat;
	background-position: bottom right 5%, left 44% top 60%, right  top, left -10% bottom, left 3% top 28%;
	min-height: 100vh;
	padding-bottom: 3.5rem;
}
.header-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 4.25rem;
}
.header-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8rem;
}

.logo {
	display: flex;
	font-size: 2rem;
	font-weight: bold;
	align-items: flex-end;
}
.logo img {
	width: 10rem;
	height: 5;
}
.logo  div::first-letter{
	color: #2870db;
}

.header-nav {
	align-self: flex-end;
}
.header-nav > ul{
	display: flex;
	gap: 1.5rem;
}
.header-nav a {
	display: block;
	padding: 0.5rem 1.75rem;
	border-radius: 1rem;
	transition: 0.7s;
	color: #fbfcfc;
}
.header-nav a:hover {
	background-color: #fbfcfc;
	color: #1c2056;
}
/* =====================middle===================== */
.header-middle {
	max-width: 400px;
	padding-left: 6rem;
}
.header-middle h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #1c2056;
	margin-bottom: 3rem;
}
.header-middle p {
	font-size: 0.8rem;
	color: #756d91;
	line-height: 2rem;
	margin-bottom: 5.5rem;
}
.header-middle a {
	display: inline-block;
	padding: 1.5rem 3.25rem;
	background-color: #2870db;
	border-radius: 1rem;
	color: #fbfcfc;
	font-weight: 600;
	box-shadow: 0rem 2rem 1rem #d1deec;
	transform: scale(1);
	transition: 0.4s;
}
.header-middle a:active {
	transform: scale(0.9);
	box-shadow: 0rem 1.1rem 0.6rem #8e9aa7;
}

/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
