html    {
    font-size: 20px;
	font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 1.80rem;
	color: #263238;
	font-weight: bold;
}
h3 {
	font-size: 1.2rem;
	color: #263238;
	font-weight: bold;
	line-height: 2.5rem;
}
p {
	line-height: 1.75rem;
	color: #828f96;
	font-size: 0.9rem;
}
a {
	text-decoration: none;
}
a:visited {
	color: #1c2056;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
/* ======================header==================== */
header {
	background-image: url(../img/Muncak\ Landing\ circle\ pink.png), url(../img/Muncak\ circle\ blue.png),
	url(../img/Muncak\ Landing\ Page_ILLUSTRATION.png), url(../img/Muncak\ Landing\ Page_Shape\ 24.png),url(../img/Muncak\ Landing\ circle\ pinkR.png);
	background-repeat: no-repeat;
	background-position: bottom 15% right 5%, left 44% top 52%, right  top, left -13% bottom, left 1% top 40%;
	padding-bottom: 20rem;
	background-color: #fbfcfc;
}
.header-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 4.25rem;
}
.header-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8rem;
}

.logo {
	display: flex;
	font-size: 2rem;
	font-weight: bold;
	align-items: flex-end;
}
.logo img {
	width: 10rem;
	height: 5;
}
.logo  div::first-letter{
	color: #2870db;
}

.header-nav {
	align-self: flex-end;
}
.header-nav > ul{
	display: flex;
	gap: 1.5rem;
}
.header-nav a {
	display: block;
	padding: 0.5rem 1.75rem;
	border-radius: 1rem;
	transition: 0.7s;
	color: #fbfcfc;
}
.header-nav a:hover {
	background-color: #fbfcfc;
	color: #1c2056;
}
/* =====================middle===================== */
.header-middle {
	max-width: 400px;
	padding-left: 6rem;
}
.header-middle h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #1c2056;
	margin-bottom: 3rem;
}
.header-middle p {
	font-size: 0.8rem;
	color: #756d91;
	line-height: 2rem;
	margin-bottom: 5.5rem;
}
.header-middle a {
	display: inline-block;
	padding: 1.5rem 3.25rem;
	background-color: #2870db;
	border-radius: 1rem;
	color: #fbfcfc;
	font-weight: 600;
	box-shadow: 0rem 2rem 1rem #d1deec;
	transform: scale(1);
	transition: 0.4s;
}
.header-middle a:active {
	transform: scale(0.9);
	box-shadow: 0rem 1.1rem 0.6rem #8e9aa7;
}
/* ======================hiking trail================= */
main {
	background-image: url(../img/Muncak\ circle\ blue.png),  url(../img/Muncak\ Landing\ circle\ pinkLittle.png), 
	url(../img/Muncak\ Landing\ spotBigR.png), url(../img/Muncak\ Landing\ spotLeft.png),url(../img/Muncak\ Landing\ circle\ pinkR.png);
	background-repeat: no-repeat;
	background-position: right -2% top 15%, 48% 34%, right -45% bottom 10%, 145% -120%, left 10%  bottom 15%;
	background-color: #fbfcfc;
}
.hiking-trail {
	max-width: 1172px;
	margin: 0 auto;
}
.hiking-wrapper {
	display: flex;
	flex-direction: column;
}
.hiking-wrapper section:nth-child(2) {
	align-self: flex-end;
}
.hiking-trail section {
	box-sizing: border-box;
	max-width: 550px;
	padding: 3.75rem 5rem 3.75rem 3.5rem;
	background-color: white;
	border-radius: 1rem;
	margin-bottom: 3.25rem;
}
.hiking-trail h2 {
	margin: 0 auto 15rem auto;
	max-width: 650px;
	text-align: center;
	line-height: 2.5rem;
}
.hiking-wrapper h3 {
	margin-bottom: 3rem;
}

.hiking-footer {
	display: flex;
}
.hiking-footer div:last-child {
	flex: 1 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hiking-footer a {
	display: inline-block;
	padding: 1.5rem 3.25rem;
	background-color: #2870db;
	border-radius: 1rem;
	color: #fbfcfc;
	font-weight: 600;
	box-shadow: 0rem 2rem 1rem #d1deec;
	transform: scale(1);
	transition: 0.4s;
}
.hiking-footer a:active {
	transform: scale(0.9);
	box-shadow: 0rem 1.1rem 0.6rem #8e9aa7;
}

/* ===================== hiking icons ==================*/
.hiking-wrapper section {
	position: relative;
	box-shadow: 0 1.1rem 1rem 0.6rem#e5ecf48c;
}
.hiking-wrapper > section:first-child::before {
	content: "";
	position: absolute;
	top: -9rem;
	left: 40%;
	height: 7rem;
	width: 8rem;
	background-image: url(../img/Muncak\ Landing\ Advocate.png), url(../img/Muncak\ Landing\ AdvocateShadow.png);
	background-repeat: no-repeat;
	background-position: 0 0, 0.4rem 0;
	background-size: 95%;
}
.hiking-wrapper > section:nth-child(2)::before {
	content: "";
	position: absolute;
	top: -10rem;
	left: 40%;
	height: 8rem;
	width: 6rem;
	background-image: url(../img/Muncak\ Landing\ Volunteer.png), url(../img/Muncak\ Landing\ VolunteerShadow.png);
	background-repeat: no-repeat;
	background-position: 0 0, 0.4rem 0;
	background-size: 95%;
}
.hiking-footer > section::before {
	content: "";
	position: absolute;
	top: -8rem;
	left: 40%;
	height: 7rem;
	width: 8rem;
	background-image: url(../img/Muncak\ Landing\ explore.png), url(../img/Muncak\ Landing\ exploreShadow.png);
	background-repeat: no-repeat;
	background-position: 0 0, 0.4rem 0;
	background-size: 95%;
}
/* ===================== support ==================== */
.support {
	max-width: 1172px;
	margin: 7.5rem  auto;
}
.support-wrapper {
	display: flex;
	justify-content: space-between;
}
.support h2 {
	line-height: 2.5rem;
	max-width: 1000px;
	margin: 0 auto 6rem auto;
	text-align: center;
}
.support-wrapper > div {
	max-width: 15rem;
	text-align: center;
}
.support-wrapper > div > div {
	padding-bottom: 2rem;
	color: #263238;
}
.support-wrapper span {
	font-size: 1.75rem;
	color: #1a56a3;
	font-weight: bold;
}

/* ===================current news================== */
.news {
	max-width: 1172px;
	margin: 0 auto;
}
.news h2 {
	margin-bottom: 5.5rem;
	text-align: center;
}
.news-wrapper h3 {
	line-height: 1.5rem;
}
.news-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5rem;
}
.news-wrapper section {
	max-width: 355px;
	background-color: white;
	box-shadow: 0 1.1rem 1rem 0.6rem#e5ecf48c;
	border-radius: 1rem;
	box-sizing: border-box;
	overflow: hidden;
	padding-bottom: 2rem;
}
.news-wrapper img{
	width: 100%;
	height: 11rem;
	object-fit: cover;
}
.news-wrapper img ~* {
	padding: 2rem 1.75rem 0 1.75rem;
}
.news-wrapper a {
	display: block;
	font-size: 0.9rem;
	color: #2870db;
	font-weight: 600;
}
.news iframe {
	width: 100%;
	height: 450px;
	border-radius: 1rem;
	box-shadow: 0 1.1rem 1rem 0.6rem#c0d3b88c;
	margin-bottom: 10rem;
}
/* ================form========================== */
.form-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	background-image: url(../img/Muncak\ Landing\ Page_Shape\ footer.png), url(../img/Muncak\ Landing\ circle\ footer\ blue.png);
	background-repeat: no-repeat;
	background-position: left -35% top 15%, right -12% top -20%;
	background-color: #3071c0;
	border-radius: 1rem;
	box-shadow: 0 1.1rem 1rem 0.6rem#2a6bbb7a;
}
.form-wrapper legend {
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.25rem;
	color: white;
	text-align: center;
	padding: 4rem 0 3.5rem 0;
}
.form-wrapper fieldset > input:nth-child(2){
	margin-bottom: 2rem;
}
.form-wrapper input {
	display: block;
	width: 100%;
	max-width: 600px;
	border-radius: 1rem;
	border: none;
	padding: 1rem 1.25rem;
	font-size: 1.25rem;
}
.form-wrapper fieldset {
	max-width: 920px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-wrapper  button{
	display: inline-block;
	padding: 1.5rem 3.75rem;
	background-color: #00aeff;
	border-radius: 1rem;
	color: #fbfcfc;
	font-weight: 600;
	box-shadow: 0rem 2rem 1rem #2a6cbb;
	transform: scale(1);
	transition: 0.4s;
	border: none;
	margin: 3.5rem 0 5rem 0;
}
.form-wrapper button:active {
	transform: scale(0.9);
	box-shadow: 0rem 1.1rem 0.6rem #34393d;
}
/* =====================footer==================== */
footer {
	max-width: 1400px;
	margin: 5rem auto 0;
}
/* ============================================= */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
